#!/bin/sh

## Get instance IP from cloud-init (replace with VM IP when appropriate)
INSTANCE_IP=$(curl http://169.254.169.254/latest/meta-data/local-ipv4)

export CONSUL_HTTP_TOKEN=${consul_token}
echo CONSUL_HTTP_TOKEN=${consul_token} >> /etc/environment

## Install keys, repos and packages
wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor > /etc/apt/trusted.gpg.d/hashicorp.gpg
chmod go-w /etc/apt/trusted.gpg.d/hashicorp.gpg
chmod ugo+r /etc/apt/trusted.gpg.d/hashicorp.gpg

apt-add-repository -y "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"

apt update && apt install -y unzip consul nomad jq docker.io net-tools

## Configure Consul
cat <<EOT > /etc/consul.d/consul.hcl
datacenter = "${consul_datacenter}"
data_dir = "/opt/consul"
log_level = "INFO"
advertise_addr = "$${INSTANCE_IP}"
bind_addr = "{{ GetDefaultInterfaces | exclude \"type\" \"IPv6\" | attr \"address\" }}"
client_addr = "0.0.0.0"
ui = true
ports {
  serf_wan = -1
  grpc = 8502
}

connect {
  enabled = true
}

telemetry {
  prometheus_retention_time = "10m"
  disable_hostname = true
}

acl {
  enabled = true
  default_policy = "deny"
  enable_token_persistence = true
  tokens {
    initial_management = "${consul_token}"
    agent = "${consul_token}"
  }
}

retry_join = ["provider=aws tag_key="Role" tag_value="hashistack-server"]
EOT

systemctl daemon-reload
systemctl enable consul --now
sleep 5 # Give consul a moment to start up

## Configure Consul DNS 
mkdir -p /etc/systemd/resolved.conf.d/
cat <<EOT > /etc/systemd/resolved.conf.d/consul.conf
[Resolve]
DNS=127.0.0.1:8600
DNSSEC=false
Domains=~consul
EOT

systemctl restart systemd-resolved


cat <<EOT > /etc/nomad.d/nomad.hcl
# Directory to store agent state
data_dir = "/opt/nomad/data"

bind_addr = "0.0.0.0"
telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  prometheus_metrics         = true
}
advertise {
  # Defaults to the first private IP address.
  http = "$${INSTANCE_IP}" # must be reachable by Nomad CLI clients
  rpc  = "$${INSTANCE_IP}" # must be reachable by Nomad client nodes
  serf = "$${INSTANCE_IP}" # must be reachable by Nomad server nodes
}

# TLS configurations
# tls {
#   http = false
#   rpc  = false
#   ca_file   = "/etc/certs/ca.crt"
#   cert_file = "/etc/certs/nomad.crt"
#   key_file  = "/etc/certs/nomad.key"
# }
# Specify the datacenter the agent is a member of
datacenter = "aws-us-east-2"
# Logging Configurations
log_level = "INFO"
log_file  = "/var/log/nomad.log"
# Server & Raft configuration
server {
  enabled = false
}
# Client Configuration - Node can be Server & Client
client {
  enabled    = true
  node_class = "${role}"

  server_join {
    retry_join = [ "provider=aws tag_key=Role tag_value=nomad-server" ]
  }

  meta {
    env = "production"
    rol = "${role}"

  }
}
EOT

systemctl daemon-reload
systemctl enable nomad --now