#!/bin/sh

## Get instance IP from cloud-init (replace with VM IP when appropriate)
INSTANCE_IP=$(curl http://169.254.169.254/latest/meta-data/local-ipv4)

## Install keys, repos and packages
wget -O- https://apt.releases.hashicorp.com/gpg | gpg --dearmor > /etc/apt/trusted.gpg.d/hashicorp.gpg
chmod go-w /etc/apt/trusted.gpg.d/hashicorp.gpg
chmod ugo+r /etc/apt/trusted.gpg.d/hashicorp.gpg

apt-add-repository -y "deb [arch=amd64] https://apt.releases.hashicorp.com $(lsb_release -cs) main"

apt update && apt install -y unzip consul nomad jq docker.io net-tools

cat <<EOT > /etc/nomad.d/nomad.hcl
# Basic Starter Configuration Used for Nomad Course Demonstrations
# This is NOT a Secure Complete Nomad Client Configuration

# Directory to store agent state
data_dir = "/opt/nomad/data"
# Address the Nomad agent should bing to for networking
# 0.0.0.0 is the default and results in using the default private network interface
# Any configurations under the addresses parameter will take precedence over this value
bind_addr = "0.0.0.0"
telemetry {
  publish_allocation_metrics = true
  publish_node_metrics       = true
  prometheus_metrics         = true
}
advertise {
  # Defaults to the first private IP address.
  http = "$${INSTANCE_IP}" # must be reachable by Nomad CLI clients
  rpc  = "$${INSTANCE_IP}" # must be reachable by Nomad client nodes
  serf = "$${INSTANCE_IP}" # must be reachable by Nomad server nodes
}
ports {
  http = 4646
  rpc  = 4647
  serf = 4648
}
# TLS configurations
# tls {
#   http = false
#   rpc  = false
#   ca_file   = "/etc/certs/ca.crt"
#   cert_file = "/etc/certs/nomad.crt"
#   key_file  = "/etc/certs/nomad.key"
# }
# Specify the datacenter the agent is a member of
datacenter = "aws-us-east-2"
# Logging Configurations
log_level = "INFO"
log_file  = "/var/log/nomad.log"
# Server & Raft configuration
server {
  enabled = false
}
# Client Configuration - Node can be Server & Client
client {
  enabled    = true
  node_class = "${role}"

  server_join {
    retry_join = [ "provider=aws tag_key=Role tag_value=nomad-server" ]
  }

  meta {
    env = "production"
    rol = "${role}"

  }
}
EOT

systemctl daemon-reload
systemctl enable nomad --now